@tailwind base;
@tailwind components;
@tailwind utilities;

.css-fix {
    white-space: pre-wrap; /* or pre-line */
  }

.glow {
    transition: all 0.3s ease-in-out; 
}
.glow:hover {
    box-shadow: 0 0 25px rgb(37, 100, 235);
}

.img_glow {
    box-shadow: 0 0 60px rgb(37, 100, 235);
}

.img2_glow {
    box-shadow: 0 0 60px rgb(244, 63, 93);
}

.logo_glow:hover {
    box-shadow: 0 0 30px rgb(14, 165, 233);
}

.neno-button {
    transition: all 0.3s ease-in-out;
}
.neno-button:hover {
    box-shadow: 0 0 15px rgb(244, 63, 93);
}

.box_glow {
    box-shadow: 0 0 15px rgb(4, 120, 87);
}

.proj_glow {
    box-shadow: 0 0 15px rgb(37, 99, 235);
}

.icon_glow:hover {
    box-shadow: 0 0 40px rgb(96, 165, 250);
}

.area_glow {
    box-shadow: 0 0 15px rgb(55, 48, 163);
}

.neno-submit {
    transition: all 0.3s ease-in-out;
}
.neno-submit:hover {
    box-shadow: 0 0 15px rgb(55, 48, 163);
}